# Database
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

# Mailgun
MAILGUN_API_KEY=
MAILGUN_DOMAIN=cleaners-247.com

# Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# reCAPTCHA v3
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
